.vscode/launch.json
.vscode/tasks.json
3-writeline/bin/Debug/netcoreapp3.1/3-writeline.deps.json
3-writeline/bin/Debug/netcoreapp3.1/3-writeline.dll
3-writeline/bin/Debug/netcoreapp3.1/3-writeline.exe
3-writeline/bin/Debug/netcoreapp3.1/3-writeline.pdb
3-writeline/bin/Debug/netcoreapp3.1/3-writeline.runtimeconfig.dev.json
3-writeline/bin/Debug/netcoreapp3.1/3-writeline.runtimeconfig.json
3-writeline/obj/3-writeline.csproj.nuget.cache
3-writeline/obj/3-writeline.csproj.nuget.dgspec.json
3-writeline/obj/3-writeline.csproj.nuget.g.props
3-writeline/obj/3-writeline.csproj.nuget.g.targets
3-writeline/obj/project.assets.json
3-writeline/obj/Debug/netcoreapp3.1/3-writeline.AssemblyInfo.cs
3-writeline/obj/Debug/netcoreapp3.1/3-writeline.AssemblyInfoInputs.cache
3-writeline/obj/Debug/netcoreapp3.1/3-writeline.assets.cache
3-writeline/obj/Debug/netcoreapp3.1/3-writeline.csproj.FileListAbsolute.txt
3-writeline/obj/Debug/netcoreapp3.1/3-writeline.csprojAssemblyReference.cache
3-writeline/obj/Debug/netcoreapp3.1/3-writeline.dll
3-writeline/obj/Debug/netcoreapp3.1/3-writeline.exe
3-writeline/obj/Debug/netcoreapp3.1/3-writeline.pdb
0x00-csharp-hello_world/3-writeline/bin/Debug/netcoreapp3.1/3-writeline.deps.json
0x00-csharp-hello_world/3-writeline/bin/Debug/netcoreapp3.1/3-writeline.dll
0x00-csharp-hello_world/3-writeline/bin/Debug/netcoreapp3.1/3-writeline.exe
0x00-csharp-hello_world/3-writeline/bin/Debug/netcoreapp3.1/3-writeline.pdb
0x00-csharp-hello_world/3-writeline/bin/Debug/netcoreapp3.1/3-writeline.runtimeconfig.dev.json
0x00-csharp-hello_world/3-writeline/bin/Debug/netcoreapp3.1/3-writeline.runtimeconfig.json
0x00-csharp-hello_world/3-writeline/obj/3-writeline.csproj.nuget.cache
0x00-csharp-hello_world/3-writeline/obj/3-writeline.csproj.nuget.dgspec.json
0x00-csharp-hello_world/3-writeline/obj/3-writeline.csproj.nuget.g.props
0x00-csharp-hello_world/3-writeline/obj/3-writeline.csproj.nuget.g.targets
0x00-csharp-hello_world/3-writeline/obj/project.assets.json
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp3.1/3-writeline.AssemblyInfo.cs
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp3.1/3-writeline.AssemblyInfoInputs.cache
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp3.1/3-writeline.assets.cache
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp3.1/3-writeline.csproj.FileListAbsolute.txt
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp3.1/3-writeline.csprojAssemblyReference.cache
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp3.1/3-writeline.dll
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp3.1/3-writeline.exe
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp3.1/3-writeline.pdb
0x00-csharp-hello_world/.vscode/launch.json
0x00-csharp-hello_world/.vscode/tasks.json
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp3.1/4-print_integer.deps.json
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp3.1/4-print_integer.dll
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp3.1/4-print_integer.exe
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp3.1/4-print_integer.pdb
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp3.1/4-print_integer.runtimeconfig.dev.json
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp3.1/4-print_integer.runtimeconfig.json
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.cache
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.dgspec.json
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.g.props
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.g.targets
0x00-csharp-hello_world/4-print_integer/obj/project.assets.json
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp3.1/4-print_integer.AssemblyInfo.cs
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp3.1/4-print_integer.AssemblyInfoInputs.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp3.1/4-print_integer.assets.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp3.1/4-print_integer.csproj.FileListAbsolute.txt
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp3.1/4-print_integer.csprojAssemblyReference.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp3.1/4-print_integer.dll
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp3.1/4-print_integer.exe
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp3.1/4-print_integer.pdb
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.AssemblyInfo.cs
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.AssemblyInfoInputs.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.assets.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.csprojAssemblyReference.cache
0x00-csharp-hello_world/5-print_float/5-print_float.csproj
0x00-csharp-hello_world/5-print_float/Program.cs
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.cache
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.dgspec.json
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.g.props
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.g.targets
0x00-csharp-hello_world/5-print_float/obj/project.assets.json
global.json
